@use "constants";

#search-bar-social {
    margin-bottom: 20px;
    
    #search {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
}

#display-buttons {
    margin-bottom: 20px;
    
    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: constants.$accent-orange;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.3s;
        
        &:hover {
            background-color: constants.$hover-orange;
        }
    }
}

#display-buttons {
    margin-bottom: 20px;
}

table {
    width: 100%;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: constants.$accent-orange;
        color: white;
    }
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.card {
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;

    p {
        margin: 0;
        padding: 0;
    }
}