.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  
  .square {
    width: 28%;
    height: 630px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
  }
  
  .square:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgb(61, 59, 59), rgb(101, 175, 215));
    transition: all 0.4s ease;
  }

  .square button:hover {
    background-color: lightgray;
  }
  
  .square .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    
  }


.item::before{
    content: "✅";
    left: -10px;
}

  .square p {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  .square h2{
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-top: 5%;
  }
  

  
 

.euros{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 400;
    vertical-align: bottom;
  }
  .month{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    vertical-align: bottom;
  }
  span{
    color:rgb(255, 255, 255);
  }
  



  .square .btn_refresh {
    padding: 16px 20px;
    border-radius: 20px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }
  .square  .btn_refresh:hover {
    color: #fff;
  }
  .square .btn_refresh::after {
    content: "";
    background: #4b2362; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  .square .btn_refresh:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
  
  
  .card_box {
    width: 120%;
    height: 200px;
    position: relative;
    margin-top: -30px;
  }

  .card_box span {
    position: absolute;
    overflow: hidden;
    font-size:x-large;
    width: 250px;
    height: 250px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: 'best option';
    position: absolute;
    width: 200%;
    height: 60px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }
 
  

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .square {
      width: 100%;
      margin: 20px 0;
    }
  }
  